@import "./../../styles/_variables.scss";

.file-uploader-drop-message{
	display: none;
	color:#aaa;
	@media #{$medium-and-up}{
		display: block;
	}
}

.file-upload-zone {
	margin:0 -13px;
	border:3px dashed transparent;
	padding: 10px;
	display: flex;
	align-items: center;
	button{
		margin-right:10px;
		min-width:160px;
	}
}

.file-upload-zone.dragover {
	border: 3px dashed #{$accent-color};
}

.file-upload-list{
	.file-upload{
		display: flex;
		align-items: center;
		padding:.6rem 1rem;
		background:#f2f2f2;
		border-radius:$border-radius;
		box-shadow:0 1px 3px rgba(0, 0, 0, 0.35);
	}
	zs-icon{
		display: flex;
		font-size:1.3rem;
		margin-right:6px;
	}
}

.file-upload-label{
	flex-grow:1;
	min-width: 0px;
	overflow: hidden;
	margin-right:1rem;
}

.file-upload-progress-bar{
	display: none;
}