.alt-auth-label{
	font-weight: 600;
	font-size:.9em;
}

.alt-auth-small-form{
	width:360px;
	margin:0 auto;
	.row .column{
		padding:0;
	}
	.column{
		margin-bottom:8px;
	}
}

.alt-auth{
	.validator{
		margin-bottom:8px;
		padding-left:0;
		&.invalid div.validate-content{
			float:none;
		}
	}
	.validate-tip{
		display: none;
	}
}

.alt-auth-register{
	.validator{
		padding:10px 0 0;
	}
}

.alt-auth-error{
	display: block;
	border:1px solid red;
	background: #f4e1de;
	padding:6px 10px;
	margin-top:10px;
}

.alt-auth-login,
.alt-auth-smscode,
.alt-auth-small-form{
	.column.large-4{
		margin: 0 auto;
		float:none;
	}
	input[type=text],
	input[type=password],
	button,
	.button{
		width:100%;
		padding-top:10px;
		padding-bottom:10px;
	}
	input[type=text],
	input[type=password]{
		box-sizing:border-box;
		padding:8px;
		font-size:1.1em;
		margin-bottom:8px;
	}
	button{
		margin-bottom:25px;
	}
}

.alt-auth-register-button{
	text-align: center;
	display: block;
	margin-bottom:10px;
}

.alt-auth-register{
	.alt-auth-intro{
		padding-bottom:1.7em;
		line-height: 1.7;
	}
	input[type="text"],
	input[type="password"],
	input[type="email"]{
		width:100%;
	}
	.grid-table{
		margin-bottom:15px;
	}
	button{
		float:right;
	}
	.form-required-fields-explanation{
		border-bottom:1px solid #ddd;
		padding-bottom:8px;
	}
}

@media only screen and (max-width: 380px) {

	.alt-auth-small-form{
		width:100%;
	}

}
