<div class="stap-tekst">

    <p class="subnote subnote-stap-beschrijving">Controleer uw contactgegevens. Uw telefoonnummer, mobiele nummer en e-mailadres kunt u desgewenst aanvullen of aanpassen.</p>

    <div class="form-required-fields-explanation"> * = Verplicht veld </div>

</div>

[%-
  IF openkvk_objects.size == 1;
    subject = openkvk_objects.0;
    bedrijf = subject.subject;
    adres   = bedrijf.address_residence;
  END;

  order = [ "dossiernummer", "vestigingsnummer", "handelsnaam", "straatnaam", "nummer", "nummerletter", "nummertoevoeging", "postcode", "woonplaats" ];
  row_mapping = {
    "dossiernummer" = {
      "title" = "KVK-nummer"
      "old"   = aanvrager.dossiernummer
      "new"   = bedrijf.coc_number
    }
    "vestigingsnummer" = {
      "title" = "Vestigingsnummer"
      "old"   = aanvrager.vestigingsnummer
      "new"   = bedrijf.coc_location_number
    }
    "handelsnaam" = {
      "title" = "Handelsnaam"
      "old"   = aanvrager.handelsnaam
      "new"   = bedrijf.company
    }
    "straatnaam" = {
      "title" = "Vestiging straatnaam"
      "old"   = aanvrager.vestiging_straatnaam
      "new"   = adres.street
    }
    "nummer" = {
      "title" = "Vestiging huisnummer"
      "old"   = aanvrager.vestiging_huisnummer
      "new"   = adres.street_number
    }
    "nummerletter" = {
      "title" = "Vestiging huisnummerletter"
      "old"   = aanvrager.vestiging_huisletter
      "new"   = adres.street_number_suffix
    }
    "nummertoevoeging" = {
      "title" = "Vestiging huisnummertoevoeging"
      "old"   = aanvrager.vestiging_huisnummertoevoeging
      "new"   = adres.street_number_suffix
    }
    "postcode" = {
      "title" = "Vestiging postcode"
      "old"   = aanvrager.vestiging_postcode
      "new"   = adres.zipcode
    }
    "woonplaats" = {
      "title" = "Vestiging woonplaats"
      "old"   = aanvrager.vestiging_woonplaats
      "new"   = adres.city
    }
  }
%]

[% BLOCK row_thing %]
    <div class="row">
        <div class="column large-4"><label class="titel">[% row_mapping.$key.title  %]</label></div>
        <div class="column large-8">[% row_mapping.$key.new || row_mapping.$key.old || '-' %]</div>

    </div>
[% END %]

<div class="form aanvrager webformcontent">
  [% FOREACH key IN order; PROCESS row_thing ; END; %]
    <div class="row">
        <div class="column large-4"><label class="titel" for="telefoon">Telefoonnummer
            [%- IF zaaktype_node.contact_info_phone_required %]*[% END -%]
        </label></div>
        <div class="column large-8">
            <input
                type="text"
                name="npc-telefoonnummer"
                value="[% aanvrager.telefoonnummer %]"
                class="input_large"
                id="telefoon"
            />
            [% PROCESS widgets/general/validator.tt %]
        </div>
    </div>

    <div class="row">
        <div class="column large-4"><label class="titel" for="mobiel">Telefoonnummer (mobiel)
            [%- IF zaaktype_node.contact_info_mobile_phone_required %]*[% END -%]
        </label></div>
        <div class="column large-8">
            <input
                type="text"
                name="npc-mobiel"
                value="[% aanvrager.mobiel %]"
                class="input_large"
                id="mobiel"
            />
            [% PROCESS widgets/general/validator.tt %]
        </div>
    </div>

    <div class="row">
        <div class="column large-4"><label class="titel" for="email">E-mailadres
            [%- IF zaaktype_node.contact_info_email_required %]*[% END -%]
        </label></div>
        <div class="column large-8">
            <input
                type="text"
                name="npc-email"
                value="[% aanvrager.email %]"
                class="input_large"
                id="email"
            />
            [% PROCESS widgets/general/validator.tt %]
        </div>
    </div>
</div>

<div class="form-required-fields-explanation"> * = Verplicht veld </div>

