<!-- we use novalidate to allow multiple email addresses -->
<form ng-submit="$ctrl.handleSubmit()" novalidate>
	<vorm-fieldset
		data-fields="$ctrl.getFields()"
		data-valid="$ctrl.getValidity()"
		data-values="$ctrl.getValues()"
		on-change="$ctrl.handleChange($name,$value)"
	></vorm-fieldset>

	<div class="form-actions">
		<button
			type="submit"
			ng-disabled="$ctrl.isDisabled()"
			class="btn btn-primary"
		>
			Verstuur e-mail
		</button>
	</div>

</form>
