<div class="suggestion-input-container">

	<div class="suggestion-input-icon" ng-click="vm.handleIconClick()">
		<i class="mdi mdi-magnify"></i>

		<zs-spinner class="spinner-small" is-loading="vm.isLoading()">
		</zs-spinner>

	</div>

	<input
		class="suggestion-input"
		type="text"
		ng-model="vm.query"
		ng-change="vm.handleQueryChange()"
		ng-model-options="vm.getModelOptions()"
		placeholder="{{vm.placeholder}}"
		id="{{::vm.inputId()}}"
	/>

	<button
		type="button"
		class="btn btn-secondary suggestion-advanced-search"
		ng-click="vm.handleAdvancedSearchClick()"
		ng-show="vm.hasAdvancedSearch()"
		zs-tooltip="Uitgebreid zoeken"
	>
		<zs-icon icon-type="magnify-plus">
		</zs-icon>
	</button>

</div>

<zs-suggestion-list
	key-input-delegate="vm.getInputDelegate()"
	data-suggestions="vm.getSuggestions()"
	on-select="vm.handleSelect($suggestion)"
	data-label="{{vm.getStateLabel()}}"
	zs-position-fixed="{ reference: vm.getInputDelegate().input, autosize: true, attachment: 'top left', target: 'bottom left', flip: true }"
	ng-if="vm.isOpen()"
>
</zs-suggestion-list>
