@import "./../../../styles/variables";

.case-action-right-picker-wrapper{
	display: flex;
	width:100%;
	>button{
		margin-left:auto;
		@include button-reset();
	}
}

right-picker{
	zs-role-picker{
		margin-right:1rem;
		margin-bottom:.5rem;
	}
	.capabilities-list li{
		margin-right:12px;
		display: inline-block;
	}
}



right-picker-display {
	flex-flow: column nowrap;
	> .right-picker-display-capabilities {
		font-size: 0.9rem;
		color: $grey;
	}
}