<div class="external-document__container">
	<div class="external-document__column  external-document__column--one">
		<div class="external-document__widget external-document__widget--fields">
			<button
				class="ui-action"
				ng-if="$ctrl.setSearchQuery()"
				ng-click="$ctrl.openSpotenlighter()"
				zs-tooltip="Terug"
				zs-tooltip-options="{ attachment: 'left top', target: 'left top', offset: { x: 30, y: 2 } }"
			><zs-icon
				icon-type="arrow-left"
			></zs-icon
			></button>
			<div class="external-document__header">
				<h1 class="big-title-blue">Document</h1>
				<button
					ng-if="$ctrl.isDownloadable()"
					ng-click="$ctrl.downloadDocument()"
					class="btn btn-secondary"
				>
					Download
				</button>
			</div>
			<ul class="external-document__fields">
				<li
					ng-repeat="field in $ctrl.getFields() track by field.id"
				>
					<span class="external-document__label"><strong>{{::field.label}}</strong></span>
					<span class="external-document__value">{{::field.value}}</span>
				</li>
			</ul>
		</div>
	</div>

	<div class="external-document__column  external-document__column--two">
		<div class="external-document__widget external-document__widget--thumb">
			<img
				ng-src="{{$ctrl.getImage()}}"
				ng-if="$ctrl.getImage()"
			>
			<div
				class="external-document__nothumb"
				ng-if="!$ctrl.getImage()"
			>
				<zs-icon icon-type="file"></zs-icon>
				<span>Geen voorvertoning beschikbaar</span>
			</div>
		</div>

		<div
			ng-if="$ctrl.getRelatedDocuments().length"
			class="external-document__widget external-document__widget--related"
		>
			<h2 class="big-title-blue">Documenten in dossier</h2>
			<ul>
				<li
					ng-repeat="item in $ctrl.getRelatedDocuments() track by item.id"
				>
					<a
						ng-if="$ctrl.getFilename() !== item.label"
						ng-href="{{::item.link}}"
					>{{::item.label | dash}}</a>
					<span
						ng-if="$ctrl.getFilename() === item.label"
						class="current-document"
					>{{::item.label | dash}}</span>
				</li>
			</ul>
		</div>
	</div>
</div>
