<div
	class="html-truncate-wrapper user-generated-content"
	ng-class="{ collapsed: $ctrl.isCollapsed() }"
>
	<div ng-bind-html="$ctrl.getHtml()"></div>
	<button
		type="button"
		class="btn btn-flat vorm-fieldset-description-show-more"
		ng-show="$ctrl.isTruncated()"
		ng-click="$ctrl.handleToggle()"
	>
		{{$ctrl.isCollapsed() ? 'Meer' : 'Minder'}}
	</button>
</div>
