.timeline-item{
    margin-bottom: 2.5rem;
    display: flex;
    width: 600px;
    box-sizing:border-box;
    @media #{$small-medium-and-down}{
        width:100%;   
    }
    .timeline-item-inner{
        background-color: #fff;
        transition:background-color 0.5s ease;
        flex-grow:1;
        min-width: 0;
        &.timeline-item-new {
            background-color: #ffffcc;
        }
    }
    .timeline-item-highlighted .timeline-item-inner {
        background-color: #ffffcc;
    }
    &.timeline-item-add{
        margin-bottom:3rem;
    }
}

.timeline-item-priority .timeline-item-important{
    display: block;
}

.timeline-item-title{
    position: relative;
    min-height: 46px;
    margin-bottom:10px;
}

.timeline-item-date{
    font-weight: 500;
}

.timeline-item-titel{
    font-size: 16px;
    display: block;
    width: 100%;
    font-weight: 400;
}

.timeline-item-desc-meta{
    font-weight: normal;
    font-size: 14px;
    color: #999;
    display: block;
    margin-bottom: 2px;
}

.timeline-item-meta{
    color: #aaa;
    font-size: 12px;
}

.timeline-item-content{
    background:#f5f5f5;
    border-radius:10px;
    //box-shadow: 0 1px 3px rgba(0,0,0,.35);
    pre {
        white-space: pre-wrap;       
        white-space: -moz-pre-wrap;  
        white-space: -pre-wrap;    
        white-space: -o-pre-wrap;
        word-wrap: break-word;
        margin:0;
        padding:1rem;
        font-family: roboto,sans-serif;
    }
    &.timeline-item-content-expanded{
        .timeline-item-expand{
            border-radius:0 0 10px 10px;
        }
    }
    &.timeline-item-content-has-diffs{
        @media #{$medium-and-up}{
            width:calc(100vw - 180px);
        }
        @media #{$large-and-up}{
            width: 800px;
        }
    }
}

[data-event-type="case/object/create"]{
   .timeline-item-content{
       &.timeline-item-content-has-diffs{
           @media #{$medium-and-up}{
               width:99%;
           }
           @media #{$large-and-up}{
               width: 600px;
           }
       }
   } 
}

.timeline-item-expand {
    width: 100%;
    background: none;
    font-weight: bold;
    font-size: 14px;
    border: 0;
    cursor: pointer;
    color: #666;
    background: #f5f5f5;
    border-radius:10px;
    padding:0;
    display: flex;
    justify-content: center;
    .mdi{
        font-size:1.5rem;
        color:#999;
        line-height: .7;
    }
    &:hover,&:focus {
        background-color: #ddd;
        outline-width: 0;
        .mdi{
            color:#666;
        }
    }
}

.timeline-item-attachments{
    margin: 0px;
    padding: 0;
}

.timeline-item-attached-file{
    background: none;
    font-size: 1em;
    padding: 8px 10px;
    margin:0 10px 10px;
    display: block;
    text-align: left;
    border:none;
    border-radius:10px;
    font-weight: 500;
    &:hover{
        background:#d5d5d5;
        cursor:pointer;
    }
    i{
        font-size:1.4rem;
        margin-right:5px;
        color:#666;
    }
}

.timeline-item-attached-file-inner{
    display: flex;
    align-items: center;
}