form[name="emailForm"]{
	width:960px !important;
	margin:-10px -20px -20px;
	.row-config label{
		display: inline-block !important;
		margin-right:8px;
		line-height: 1;
	}
	.form-actions{
		padding:15px 15px;
	}
	.spot-enlighter-tag-wrapper{
		padding:10px 0 10px 13px;
	}
}

#popup-send-mail{
	margin:-20px;
	.td-hide{
		display: none;
	}
	.radio-item{
		margin-right:8px;
		margin-bottom:0;
		input{
			margin-right:6px;
		}
	}
	.td-label,.td-field{
		@include box-sizing(border-box);
	}
	.form-actions{
		padding:15px 15px;
	}
}

.row-config .td-label{
	padding-left:13px;
}

.row-email-content{
	width:100%;
	padding:0 !important;
	.zoek_veld{
		width:100%;
		.search_wrap{
			float:none;
			margin:0;
			input{
				background-image: url("/images/icon-filter.png");
				background-repeat:no-repeat;
				background-position:12px center;
				text-indent:21px;
				padding:13px;
			}
		}
	}
	.td-label{
		display: none;
	}
	.td-field{
		width:100%;
		position: relative;
		.validator{
			position: absolute;
			top:7px;
			right:10px;
		}
	}
	input:not([type]),
	input[type=text],
	input[type=email],
	input[type=password],
	input[type=url], 
	input[type=date],
	input[type=number],
	textarea{
		border:none;
		width:100%;
		padding:13px;
		&:focus{
			border:none;
			outline:none;
			@include box-shadow(none);
		}
	}
	label input{
		width:auto;
	}
	textarea{
		height:200px;
	}
	.column{
		padding:0;
	}
	.spot-enlighter-wrapper{
		display: block;
		width:100%;
		input{
			background-position:12px center;
			text-indent:21px;
			width:100%;
		}
	}
}

.row-email-attachment{
	padding:10px 13px !important;
	input[type=checkbox]{
		display: none;
	}
}

.grid-table .row.row-type-ontvanger,.form .row.row-type-ontvanger{
	border-bottom:2px solid #ccc;
}

.row-options{
	position: absolute;
	top: 13px;
	right: 25px;
	z-index:1;
	td{
		border-bottom:none;
	}
	button{
		color:#999;
		background-color:transparent;
		font-size:1em;
		margin-left:4px;
		&:hover{
			color:#000;
			text-decoration: underline;
		}
	}
	&.ezra-email-options{
		top:116px;
	}
}