<ul class="spot-enlighter-menu" data-ng-show="entries.length">
	<li data-ng-repeat="entry in entries">
		<div data-ng-show="entry.object_type=='natuurlijk_persoon'">
			<div class="spot-enlighter-entry-title">
				<[entry.object.voorletters]> <[entry.object.geslachtsnaam]>
			</div>
			<small class="spot-enlighter-entry-desc" data-ng-init="adres = entry.object.adres_id" data-ng-show="adres">
				<span data-ng-show="adres.straatnaam"><[adres.straatnaam]> <[adres.huisnummer]></span>
				<span data-ng-show="adres.straatnaam&&adres.woonplaats">, </span>
				<span data-ng-show="adres.woonplaats"><[adres.woonplaats]></span>
			</small>
		</div>
		<div data-ng-show="entry.object_type=='bedrijf'">
			<div class="spot-enlighter-entry-title">
				<[entry.object.handelsnaam]>
			</div>
			<small class="spot-enlighter-entry-desc">
				<span><[entry.object.vestiging_postcodewoonplaats]></span>
			</small>
		</div>
	</li>
</ul>