<meeting-list-item
	ng-repeat="meeting in meetingListView.getMeetings() track by meeting.$id"
	on-toggle-expand="meetingListView.handleToggle(meeting.id)"
	is-expanded="meetingListView.isExpanded(meeting.id)"
	is-grouped="meetingListView.isGrouped()"
	data-meeting="meeting"
	app-config="meetingListView.appConfig()"
>
</meeting-list-item>

<div class="button-container">
	<button 
		ng-click="meetingListView.loadMore()" 
		class="btn btn-secondary"
		ng-if="meetingListView.isMoreAvailable()"
	>
		<zs-spinner is-loading="meetingListView.isLoading()" class="spinner-tiny"></zs-spinner>
		Laad meer zaken
	</button>
</div>

<div class="meeting-list__empty" ng-show="!meetingListView.getMeetings().length&&!meetingListView.isLoading()">
	Er zijn geen voorstellen die voldoen aan de voorwaarden.
</div>
